# Configuration file for coverage.py
[run]
source = nomz
omit = 
    */tests.py
    */test_*.py
    */tests_*.py
    manage.py
    setup.py
    */settings.py
    */migrations/*
    */asgi.py
    */wsgi.py
    */venv/*
    .venv/*
    */site-packages/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    if 0:
    if False:
    if settings.DEBUG
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
