[run]
source = nomz
omit =
    # App bootstrap / wiring 
    */apps.py
    */admin.py
    */nomz/admin.py
    */nomz/urls.py
    */nomz/migrations/*
    
    # Test modules
    */nomz/test_*.py
    */nomz/tests.py
    */nomz/tests_*.py
    
    # Windows path variants
    *\nomz\test_*.py
    *\nomz\tests.py
    *\nomz\tests_*.py
    *\nomz\urls.py
    *\nomz\migrations\*
    
    # Optional: Omit CLI runners if you dont want to test terminal commands
    */nomz/management/commands/*
    */nomz/ingestion/runner.py

[report]
show_missing = True
skip_empty = True