option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurants.wsgi:application
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/

container_commands:
  00_create_db:
    command: python scripts/create_db.py
    leader_only: true
  01_migrate:
    command: python manage.py migrate --noinput
    leader_only: true
  02_collectstatic:
    command: python manage.py collectstatic --noinput
    leader_only: true
